.tm{
    margin-left: 100px;
    margin-top: 50px;
    width: 250px;
    height: 250px;
    border-radius: 100%;
    overflow: hidden;
    background-color: blue;

    
}
.click{
    background-color: blueviolet;
    
}
.d{
    text-align: center;
    padding: 10px;
}
.more h1{
    text-align: center;
    font-size: 50px;
    color:  rgb(85, 196, 85);
    margin-top: 800px;
}
.more{
    margin-top: 10px;
    margin-bottom: 60px;
}
.all .col-sm-6
{
    box-sizing: border-box;
    width: 480px;
    overflow-x:clip;
    background-color:cadetblue;
}
.a{
    color: black;
    margin-left: 170px;
}
.col-sm-6 .a button
{
    color:black;
    margin-left: 10px;
}
.all
{
    margin-left: 35px;
}
.all h1{
    font-size: 50px;
    color:  rgb(85, 196, 85);
    
}
.more .col-sm-3
{
    margin-left: 35px;
    border: .5px solid silver;
    background-color: snow;
    box-shadow: 0 3px 0 5px rgb(0,0,0,.1);
    stroke-opacity: 0;
}
.more .col-sm-3 span
{
    font-size: 20px;
    color: black;
}
.more .col-sm-3 a
{
    font-size: 20px;
    color: black;
}
.more .col-sm-3 p{
    font-size: 20px;
    color: blue;
}
.more .col-sm-3  input[type="submit"]
{
    cursor: pointer;
    font-size: 20px;
    background-color: grey;
    margin-left: 46%;
    margin-top: 6px;
}
.all p
{
    color:black;
    font-size: 20px;
    text-align: center;
}
.more p{
    font-size: 20px;
    color:black;
    text-align: center;

}