

body{
    background-color:rgb(239, 234, 234);
  }



.prosp{
    margin-top: 270px;
  }
  .imghome{
    width: 100%;
    margin-top: -20px;
  
  }
  .wcl{
    text-align: center;
    margin-top: -30%;
    color:white;
  }
  
.tm{
    margin-left: 140px;
    margin-top: 40px;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    overflow: hidden;
    text-align: center;
    font-size: 15px;
}
.kt{
    box-sizing: border-box; 
    height: 100px;
    width: 360px;
    border: 1px solid black;
    margin-left:60px;
    box-shadow: 3px 3px 2px 2px rgb(0,0,0,.2);
 }
.ab{
    padding-left: 185px;

}


.d{
    text-align: center;
    color: rgb(79, 204, 79);
    margin-top: 30px;

}
.e{
    text-align: center;
}

.all h4{
    padding-left: 200px;
}
.all .col-sm-4  h4
{
    color: cadetblue;
   
}
.kt1{
    box-sizing: border-box; 
    height: 150px;
    width: 360px;
    border: 1px solid black;
    margin-left:60px;
    box-shadow: 3px 3px 2px 2px rgb(0,0,0,.2);
 }
.all
{
    margin-top:6%;
}





   
   


